# Autosaves
*~

# Local stuffies
*.elc
*.dat
.emacs.d/ac-comphist.dat
.emacs.d/smex-items
.emacs.d/ido.last
.emacs.d/tramp
.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.emacs.d/network-security.data
session.*

# Packages
.emacs.d/elpa/*

# Per-machine thingies
.emacs.d/lisp/local/*

# recentf
.emacs.d/recentf

# Patches
*.patch
