# Autosaves
*~

# Local stuffies
*.elc
*.dat
.emacs.d/ac-comphist.dat
.emacs.d/smex-items
.emacs.d/ido.last
.emacs.d/tramp
session.*

# Packages
.emacs.d/elpa/*

# Per-machine thingies
.emacs.d/lisp/local/*

# recentf
.emacs.d/recentf

# Patches
*.patch
